@import url('https://fonts.googleapis.com/css?family=Exo|Righteous&display=swap');

:root {
	--color-neon-pink: #f535aa;
	--color-neon-blue: #00f9ff;
}

html, body { height: 100%; overflow: hidden; }

body {
	display: flex;
	align-items: center;
	background-color: #0f1110;
	overflow: hidden;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px;
}

.header {
	position: absolute;
	top: 0; left: 0;
	font-family: 'Exo', sans-serif;
	padding: 10px;
}

.navigation {
	position: relative;
	color: #fff;
}

.nav-list {
	list-style-type: none;
}

.nav-list-item {
	display: inline-block;
	margin-right: 30px
}

.nav-list-item a {
	font-family: 'Exo', sans-serif;
	color: #fff;
	text-decoration: none;
	outline: none;
}

.nav-list-item a:hover {
	text-shadow: 1px 0 var(--color-neon-blue), -1px 0 var(--color-neon-pink); 
}

.nav-list-item a:active {
	text-shadow: 3px 0 var(--color-neon-blue), -3px 0 var(--color-neon-pink); 
}

.haruue {
	display: inline-block;
	position: relative;
	background-image: url(/assets/haruue-logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
}

.background {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}